.openbtn4 {
  position: relative;
  background: rgb(99 102 241);
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.openbtn4 span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 2px;
  border-radius: 5px;
  background: #fff;
  width: 45%;
}

.openbtn4 span:nth-of-type(1) {
  top: 13px;
}

.openbtn4 span:nth-of-type(2) {
  top: 19px;
}

.openbtn4 span:nth-of-type(3) {
  top: 25px;
}

.openbtn4 span:nth-of-type(3)::after {
  content: 'Menu';
  position: absolute;
  top: 5px;
  left: -2px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

.openbtn4.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
  content: 'Close';
  transform: translateY(0) rotate(-45deg);
  top: 5px;
  left: 4px;
}
