.scrollArea {
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #3fd195 rgb(35 46 51 / 20%);
  scrollbar-width: thin;
}

.code {
  white-space: pre;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgb(99 102 241 / 5%);
  color: #000000;
}

.scrollArea::-webkit-scrollbar {
  height: 9px;
}

.scrollArea::-webkit-scrollbar-track {
  background: rgb(35 46 51 / 20%);
  border-radius: 10px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background: #3fd195;
  border-radius: 10px;
}
