.scrollArea {
  --sb-track-color: #232e33 / 20%;
  --sb-thumb-color: #3fd195;
}

.code {
  white-space: pre;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: rgb(99 102 241 / 5%);
  color: #000000;
}

.scrollArea :global(.simplebar-track.simplebar-horizontal) {
  height: 9px;
  background: var(--sb-track-color);
  border-radius: 10px;
}

.scrollArea :global(.simplebar-track.simplebar-vertical) {
  width: 9px;
  background: var(--sb-track-color);
  border-radius: 10px;
}

.scrollArea :global(.simplebar-scrollbar:before) {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  opacity: 1;
}
