@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 226, 232, 240;
  --font-mono: 'Fira Code', monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f1014;
}

/* ヒーローセクションの背景グリッド装飾 */
.hero-grid-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
  /* Webkit対応 */
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
