@import 'tailwindcss';

@theme {
  --color-background: #0f1014;
  --color-card: #1a1c23;
  --color-sub: #94a3b8;

  --color-accent: #00dc82;
  --color-accent-glow: rgba(0, 220, 130, 0.4);

  --color-border: #2d3748;

  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

:root {
  --foreground-rgb: 226, 232, 240;
  --font-mono: 'Fira Code', monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f1014;
}

/* ヒーローセクションの背景グリッド装飾 */
.hero-grid-bg {
  background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
  /* Webkit対応 */
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 100%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
